/1.xlsx
/2.xlsx
/23А Протоколы комиссии по допуску к ЧР по ВБЕ Сётокан - март 2021 г23А Протоколы комиссии по допуску к ЧР по ВБЕ Сётокан - март 2021 г.xlsx
/1111.py
/test.xlsx
/Сводные списки_КР_2021 (на 23.10.2021).xlsx
/СводныеСписки_Первенство.xlsx
